{% load staticfiles %}
{% load bootstrap3 %}
<html>
   <head>
      <title>Tickets</title>
     
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">            
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      
      <script src="{% static 'javascript/jquery.isotope.min.js' %}"></script>
      <script src="{% static 'javascript/jquery.js' %}"></script>
      <script src="{% static 'javascript/bootstrap.min.js' %}"></script>
      
   </head>
   <body>
     
     <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tickets</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Knowledge Base</a></li>
              
              {% if user.is_authenticated %}
              
              <li><a href="#">New Ticket</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lists <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Opened</a></li>
                  <li><a href="#">Closed Last Days </a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Statistics </li>
                  <li><a href="#">Solution Times </a></li>
                  <li><a href="#">Tickets Opened Last 12 Months </a></li>
                  <li><a href="#">Tickets By Status Last 12 Months </a></li>
                  <li><a href="#"></a></li>
                </ul>
              </li>
              
              {% endif %}
              
            </ul>

            {% if user.is_authenticated %}
            
       	    <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Account <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit Profile</a></li>
                  <li><a href="#">Messages </a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Logout </a></li>
                  <li><a href="#"></a></li>
                </ul>
              </li>
              <li><a href="../navbar-static-top/">Help</a></li>                 
            </ul>
            
            {% else %}

            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Login<span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-static-top/">Help</a></li>              
            </ul> 		

   	    {% endif %}
            
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <div class="container-fluid">
  	  {% block content %}
     	  {% endblock %}
      </div>
  	    
  <body>
</html>
