{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}	
<html>
	<head>
	   <title>Tickets</title>
     
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">            
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      
      <script src="{% static 'javascript/jquery.isotope.min.js' %}"></script>
      <script src="{% static 'javascript/jquery.js' %}"></script>
      <script src="{% static 'javascript/bootstrap.min.js' %}"></script>
      <style type="text/css">      	
      	body {
				margin:0;
				padding:0;
				overflow-x:hidden;      	
      	}
			.navbar>.container .navbar-brand {
  				margin-left: 0;
			}
      </style>
	</head>
   <body>
     
     <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tickets</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/tickets/">Home</a></li>
              <li><a href="#">{% trans 'Knowledge Base' %}</a></li>              
              {% if user.is_authenticated %}
              {% if user.is_staff %}
              <li><a href="#">{% trans 'Administration' %}</a></li>
              {% endif %}
              <li><a href="/tickets/ticket/add">{% trans 'New Ticket' %}</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Lists' %} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">{% trans 'Opened' %}</a></li>
                  <li><a href="#">{% trans 'Closed Last Days' %} </a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">{% trans 'Statistics' %} </li>
                  <li><a href="#">{% trans 'Solution Times' %} </a></li>
                  <li><a href="#">{% trans 'Tickets Opened Last 12 Months' %} </a></li>
                  <li><a href="#">{% trans 'Tickets By Status Last 12 Months' %} </a></li>
                  <li><a href="#"></a></li>
                </ul>
              </li>
              
              {% endif %}
              
            </ul>

            {% if user.is_authenticated %}
            
		   	<ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  {{user}}  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">{% trans 'Edit Profile' %}</a></li>
                  <li><a href="#">{% trans 'Messages' %} </a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/tickets/logout">{% trans 'Logout' %} </a></li>
                  <li><a href="#"></a></li>
                </ul>
              </li>
              <li><a href="../navbar-static-top/">{% trans 'Help' %}</a></li>                 
            </ul>
            
            {% else %}

            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./login">{% trans 'Login' %}<span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-static-top/">{% trans 'Help' %}</a></li>              
            </ul> 		

   	 		{% endif %}
            
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

		<div class="container-fluid">
  			{% block content %}
     		{% endblock %}
		</div>
  	     
   </div>
     	    
  	{% block javascript %}{% endblock %}    
  	    
  <body>
</html>