{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}	
{% load tickets_extras %}
{% block content %}

	<div class="jumbotron">
		<h1>{% trans 'Tickets System' %}</h1>
  		<p>{% trans 'Wellcome to the Tickets System. Here You can create tickets requesting bug solutions, tasts and new features' %}</p>
	</div>

	<div class='container'>
	<div class="row">
 		<div class="col-xs-3 col-md-3">
 			{% if user.is_authenticated %}
 				<h4>{% trans 'My Group(s)' %}</h4>
 				{% for group in user.groups.all %}
 					<h5><a href='./list/group/{{group.id}}'>{{group.name}}</h5>
 				{% endfor %}
 			{% endif %}
 		</div>
		<div class="col-xs-6 col-md-6">									
				{% if not user.is_authenticated %}
					<div class="alert alert-info" role="alert">					   
		   	 		{% trans 'You must have a válid login to enter the ticket system. Ask your system administrator for a válid user and password.' %}
		   	 	</div>
   	 		{% endif %}   	 			   			  
		</div>		
		<div class="col-xs-3 col-md-3"></div>
	</div>
	</div>
	
{% endblock %}    
    
