{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}	
{% block content %}
{% load tickets_extras %}

	<div class='container'>
	<div class="row"> 		
		<div class="col-xs-12 col-md-12">
			{% if user.is_authenticated %}
 				{% if valid_group %}
 					<h4><b>{% trans 'Tickets' %}</b>: {{group_name}}</h4>
				   {% if ticket_list %}
    					<table id="tickets" class="table">
    						<tr>
    							<th>{% trans 'Created At' %}</th>
    							<th>{% trans 'User' %}</th>
    							<th>{% trans 'State' %}</th>
    							<th>{% trans 'Priority' %}</th>
    							<th>{% trans 'Type' %}</th>
    							<th>{% trans 'Begin At' %}</th>
    							<th>{% trans 'Description' %}</th>
    						</tr>	
        					{% for ticket in ticket_list %}
        						{% if ticket.priority.id == 1 %}
        						<tr class="danger">
									<td><a href='/tickets/ticket/{{ticket.id}}'>{{ ticket.creation_time|date:'d-m-Y H:i'}}</a></td>
									<td>{{ ticket.user.username }}</td>
									<td>{{ ticket.status.description }}</td>
									<td>{{ ticket.priority.description }}</td>
									<td>{{ ticket.ticket_type.description }}</td>            					
            					<td>{{ ticket.begin_time|date:'d-m-Y H:i'}}</td>                				                				
                				<td>{{ ticket.description }}</td>                				                				
            				</tr>
        						{% else %}
        							{% if ticket.priority.id == 2 %}
        								<tr class="warning">
											<td><a href='/tickets/ticket/{{ticket.id}}'>{{ ticket.creation_time|date:'d-m-Y H:i'}}</a></td>
											<td>{{ ticket.user.username }}</td>
											<td>{{ ticket.status.description }}</td>
											<td>{{ ticket.priority.description }}</td>
											<td>{{ ticket.ticket_type.description }}</td>            					
            							<td>{{ ticket.begin_time|date:'d-m-Y H:i'}}</td>                				                				
                						<td>{{ ticket.description }}</td>                				                				
            						</tr>        							
        							{% else %}
        								<tr class="success">
											<td><a href='/tickets/ticket/{{ticket.id}}'>{{ ticket.creation_time|date:'d-m-Y H:i'}}</a></td>
											<td>{{ ticket.user.username }}</td>
											<td>{{ ticket.status.description }}</td>
											<td>{{ ticket.priority.description }}</td>
											<td>{{ ticket.ticket_type.description }}</td>            					
            							<td>{{ ticket.begin_time|date:'d-m-Y H:i'}}</td>                				                				
                						<td>{{ ticket.description }}</td>                				                				
            						</tr>	        							
        							{% endif %} 
            				
            				{% endif %}
        					{% endfor %}
    					</table>
						
						{# Pagination section #}
						{% if is_paginated %}
							<nav aria-label="Page navigation example">
	  							<ul class="pagination">
  								   
    								<li class="page-item">
    								   {% if page_obj.has_previous %}
    								      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        										<span aria-hidden="true">&laquo;</span>
        										<span class="sr-only">Previous</span>
      									</a>                    				
                					{% endif %}      							
    								</li>
    							
									{% for i in page_obj.paginator.num_pages|times %}   
										{% if page_obj.number == i %}  							
    										<li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    									{% else %}
    									   <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    									{% endif %}    	
    								{% endfor %}	
    							
	    							<li class="page-item">
   	 								{% if page_obj.has_next %}                    			
      	              				<a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        										<span aria-hidden="true">&raquo;</span>
        										<span class="sr-only">Next</span>
      									</a>
                					{% endif %}      							
    								</li>
  								</ul>
							</nav>    					
    					{% endif %}
    					
					{% else %}
    					<h3>Tikets</h3>
    					<div class="alert alert-info" role="alert">					   
		   	 			{% trans 'There is no tickets to show.' %}
		   	 		</div>
					{% endif %} 					 					
				{% else %}
					<div class="alert alert-danger" role="alert">					   
		   	 		{% trans 'You do not have access to this group.' %}
		   	 	</div>
				{% endif %} 					  								
 			{% endif %}		
		</div>				
	</div>
	</div>
	
{% endblock %}    
    
