{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}	
{% load tickets_extras %}
{% block content %}

	<div class='container'>
		<div class="row">
 			<div class="col-xs-4 col-md-4">			
 				<p>
 					<a href="/tickets/list/group/{{ticket.group_id}}" class="btn btn-default" role="button">{% trans 'Back to List' %}</a>  					 
 				</p>
 				<div class="panel panel-default">
					<div class="panel-heading">{% trans 'Ticket Information' %}</div>
  					<div class="panel-body">
 						<table class="table">
 						<tr>
 							<th>{% trans 'Created At' %}</th>
 							<td>{{ticket.creation_time|date:'d-m-Y H:i'}}</td> 					
 						</tr>
 						<tr>
	 						<th>{% trans 'Description' %}</th>
 							<td>{{ticket.description}}</td> 					
 						</tr>
 						<tr>
	 						<th>{% trans 'State' %}</th>
 							<td>{{ ticket.status.description }}</td> 					
 						</tr> 				
 						<tr>
	 						<th>{% trans 'Priority' %}</th>
 							<td>{{ ticket.priority.description }}</td> 					
 						</tr>
 						<tr>
	 						<th>{% trans 'Type' %}</th>
							<td>{{ ticket.ticket_type.description }}</td> 					
 						</tr>
 						<tr>
 							<th>{% trans 'Begin At' %}</th>
 							<td>{{ ticket.begin_time|date:'d-m-Y H:i'}}</td> 					
	 					</tr>
	 					<tr>
 							<th>{% trans 'Closed At' %}</th>
 							<td>{{ ticket.close_time|date:'d-m-Y H:i'}}</td> 					
	 					</tr>
 						<tr>
 							<th>{% trans 'User' %}</th>
 							<td>{{ ticket.user.username }}</td> 					
 						</tr> 					
 						</table>
 					</div>	
 				
 					<table class="table">
						<tr>
							<th>{% trans 'Details' %}</th>
						</tr>
						<tr>
							<td>{{ticket.detailed}}
						</tr>
					</table>										 			
 				</div>
 			</div>	
 			
 			<div class="col-xs-8 col-md-8">
 				<p>
 					<a href="/tickets/ticket/message/add/{{ticket.id}}" class="btn btn-primary" role="button">{% trans 'New Message' %}</a>
 			 		{% if ticket.status.id == 1 %}  <!-- Opened -->
 			 		    <a href="/tickets/ticket/status/{{ticket.id}}/2" style="width:100px;" class="btn btn-info" role="button">{% trans 'Start' %}</a>
 			 		{% endif %}
 			 		{% if ticket.status.id == 2 %}  <!-- In Process -->
 			 		    <a href="/tickets/ticket/status/{{ticket.id}}/3" style="width:100px;" class="btn btn-warning" role="button">{% trans 'Suspend' %}</a>
 			 		    <a href="/tickets/ticket/status/{{ticket.id}}/4" style="width:100px;" class="btn btn-danger" role="button">{% trans 'Cancel' %}</a>
 			 		    <a href="/tickets/ticket/status/{{ticket.id}}/5" style="width:100px;" class="btn btn-info" role="button">{% trans 'In Test' %}</a>
 			 		    <a href="/tickets/ticket/status/{{ticket.id}}/6" style="width:100px;" class="btn btn-success" role="button">{% trans 'Close' %}</a>         
 			 		{% endif %}
 			 		{% if ticket.status.id == 3 %}  <!-- Stalled -->
 			 		    <a href="/tickets/ticket/status/{{ticket.id}}/2" style="width:100px;" class="btn btn-info" role="button">{% trans 'Start' %}</a>
 			 		{% endif %}
 			 		{% if ticket.status.id == 4 %}  <!-- Cancelled -->
 			 		
 			 		{% endif %}
 			 		{% if ticket.status.id == 5 %}  <!-- In Test -->
 			 		    <a href="/tickets/ticket/status/{{ticket.id}}/3" style="width:100px;" class="btn btn-warning" role="button">{% trans 'Suspend' %}</a>
 			 		    <a href="/tickets/ticket/status/{{ticket.id}}/4" style="width:100px;" class="btn btn-danger" role="button">{% trans 'Cancel' %}</a>
 			 		    <a href="/tickets/ticket/status/{{ticket.id}}/6" style="width:100px;" class="btn btn-success" role="button">{% trans 'Close' %}</a>
 			 		{% endif %}
 			 		{% if ticket.status.id == 6 %}  <!-- Closed -->
 			 			 <a href="/tickets/ticket/status/{{ticket.id}}/7" style="width:100px;" class="btn btn-info" role="button">{% trans 'Re-Open' %}</a> 
 			 		{% endif %}				 		
 			 		{% if ticket.status.id == 7 %}  <!-- Re-Opened -->
 			 		    <a href="/tickets/ticket/status/{{ticket.id}}/3" style="width:100px;" class="btn btn-warning" role="button">{% trans 'Suspend' %}</a>
 			 		    <a href="/tickets/ticket/status/{{ticket.id}}/4" style="width:100px;" class="btn btn-danger" role="button">{% trans 'Cancel' %}</a>
 			 		    <a href="/tickets/ticket/status/{{ticket.id}}/5" style="width:100px;" class="btn btn-info" role="button">{% trans 'Testing' %}</a>
 			 		    <a href="/tickets/ticket/status/{{ticket.id}}/6" style="width:100px;" class="btn btn-success" role="button">{% trans 'Close' %}</a>
 			 		{% endif %}			   								 					
 				</p> 				 					 					 					 					
 				<div class="panel panel-default">
					<div class="panel-heading">{% trans 'Discussion Board' %}</div>
  					<div class="panel-body">
    					{% if ticket_messages %}
    						<table class='table'>
 								<tr>
 									<th>{% trans 'Written In' %}</th>
 									<th>{% trans 'User' %}</th>
 									<th>{% trans 'Message' %}</th> 						
 								</tr>																	
								{% for tm in ticket_messages %}
									<tr>
										<td>{{tm.creation_time|date:'d-m-Y H:i'}}</td>
										<td>{{tm.user}}</td>
										<td>{{tm.message}}</td>
									</tr>										
								{%endfor %}						
							</table>
    					{% endif %}	
  					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">{% trans 'Status Changes Log' %}</div>
  					<div class="panel-body">
  						{% if ticket_status_log %}
    						<table class='table'>
 								<tr>
 									<th>{% trans 'Changed' %}</th>
 									<th>{% trans 'User' %}</th>
 									<th>{% trans 'From Status' %}</th>
 									<th>{% trans 'To Status' %}</th> 									 						
 								</tr>																	
								{% for tl in ticket_status_log %}
									<tr>
										<td>{{tl.log_time|date:'d-m-Y H:i'}}</td>
										<td>{{tl.user}}</td>
										<td>{{tl.status_from.description}}</td>
										<td>{{tl.status_to.description}}</td>										
									</tr>										
								{%endfor %}						
							</table>
    					{% endif %}	
  					</div>
  				</div>		 																		 			
 			</div> 			
		</div>					
	</div>
	
{% endblock %}    
    
    
